html,
body {
    width: 100%;
    height: 100%;
}

hr {
    margin: 30px auto;
    color: rgb(0, 0, 0);
    width: 30%;
}

@media(min-width:768px) {
    .navbar {
        border-color: rgba(2, 0, 0, 0.3);
        background-color: transparent;
    }
}

ul {
    margin-left: auto;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: rgb(241, 228, 228);
    background-image: url("images/background.jpeg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-content {
    width: 100%;
    text-align: center;
}

.header-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.header-content hr {
    margin: 30px auto;
    width: 50%;
    height: 5px;
    color: rgb(241, 228, 228);
}

.header-content p {
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 300;
    color: rgba(241, 228, 228.7);
    max-width: 80%;
    font-size: 18px;
}
.header-content button {
    border-radius: 20px;
    border-color: transparent;
    size: 100px;
    height: 50px;
    text-align: center;
}

.header-content a {
    color: rgb(77, 28, 28);
    text-decoration: none;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

.header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#contactMe{
    position: relative;
}

#sendbutton{
    background-color: #f1c958;
      border-style: solid;
      border-color: rgb(36, 35, 35);
      border-width: thin;
      width: 450px;
      height: 45px;
      padding: 16px 32 px;
      margin: 4px 2px;
      color: black;
      border-radius: 4px;
      background-image: linear-gradient(#f8e42d );
      margin-top: 10px;
}

input[type=text] {
    width: 450px;
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 15px;
    display:flex;
    border: 1px solid rgb(78, 69, 69);
    border-radius: 4px;
    box-sizing: border-box;

  }

footer {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: rgb(241, 228, 228);
}
 
}
.info button {
    border-radius: 10px;
    border-color: transparent;
    size: 10%px;
    height: 50px;
    text-align: center;
}


